.fondoCarrusel{
    background-image: url(https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/d/d0/latest/20180818070350/Estadio_Pok%C3%A9mon_SSBU.jpg/1200px-Estadio_Pok%C3%A9mon_SSBU.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (max-width: 767px) {
    #featureContainer .carousel-inner .carousel-item>div {
        display: none;
    }

    #featureContainer .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}
#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    #featureContainer .carousel-inner .carousel-item-end.active,
    #featureContainer .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    #featureContainer .carousel-inner .carousel-item-start.active,
    #featureContainer .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    #featureContainer .card img {
        width: 100%;
        height: auto;
    }

    #featureContainer .carousel-item {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #featureContainer .card img {
        width: 100%;
        height: 75vh;
    }
}

#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

#featureContainer .card {
    border: 0;
}

#featureContainer .card {
    position: relative;
}

#featureContainer .card .card-img-overlays {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#featureContainer a {
    text-decoration: none;
}

#featureContainer .indicator {
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}

#featureContainer .indicator:hover {
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}

#featureContainer .indicator:hover {
    color: white;
    transition: 200ms;
}

#featureContainer .indicator {
    color: lightgray;
}

#featureContainer .float-end {
    padding-top: 10px;
}